apiVersion: ctl.provenance.com/v1
kind: ProvenanceDeployment
metadata:
  name: provenance-service-explorer
  namespace: apis
  labels:
    pd: provenance-service-explorer
spec:
  selector:
    matchLabels:
      pd: provenance-service-explorer
  template:
    metadata:
      labels:
        pd: provenance-service-explorer
    spec:
      environments:
        - dev
        - test
      kong:
        enabled: true
        services:
          - name: provenance-service-explorer
            proxy:
              path: /api
            route:
              path: /api/explorer
              strip_path: true
              preserve_host: true
            jwt:
              enabled: false
            plugins:
              - plugin: acl
                config:
                  whitelist:
                    - figure
              - plugin: key-auth
                config:
                  key_names:
                    - apikey
          - name: provenance-service-explorer-secured
            proxy:
              path: /api
            route:
              path: /provenance-service-explorer/secured
              strip_path: true
              preserve_host: true
            jwt:
              enabled: true
              isFrontEnd: false
              isCookieAuth: true
              includeClaimsDownstream: true
            plugins:
              - plugin: identity-exchange
                config:
                  identity_base_url: http://service-identity.apis/identity
                  impersonation_uri: /internal/api/v1/groups/
                  role_impersonation_behavior: Child
                  group_uuid_request_header: X-membership
                  data_type: IDENTITY_UUID
      deployment:
        port: 8612
        replicas:
          prod: 1
          test: 1
        image:
          prod: us.gcr.io/figure-production/provenance-service-explorer:latest
          test: us.gcr.io/figure-development/provenance-service-explorer:latest
        db:
          enabled: true
          separateDbInstance:
            prod: false
            test: false
          name:
            prod: provenanceexplorer
            test: provenanceexplorer
          schema:
            prod: provenanceexplorer
            test: provenanceexplorer
          user:
            prod: apis
            test: apis
          connectionPoolSize:
            prod: 5
            test: 5
            dev: 5
        spring:
          enabled: true
        networkPolicy:
          enabled: true
        env:
          - name: JAVA_OPTS
            value: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
        envFrom:
          - secretRef:
              name: common
        configMap:
          test:
            PROVENANCE_EXPLORER_PB_URL: https://test.provenance.io/explorer/sentinel/
        readinessProbe:
          path: /actuator/health
          periodSeconds: 3
          initialDelaySeconds: 75
        livenessProbe:
          path: /actuator/health
          periodSeconds: 3
          initialDelaySeconds: 300
        resources:
          requests:
            cpu: 200m
            memory: 4Gi
          limits:
            cpu: 1000m
            memory: 7Gi
