<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} | %highlight(%-5level) | %gray(%-40logger{20}) | %-20thread{20} | MDC:[%mdc] | - %msg%n%xEx</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="${logging.appender:-stdout}"/>
    </root>

    <logger name="org.springframework.beans.factory" level="INFO" />
    <logger name="org.springframework.context" level="INFO" />
    <logger name="io.swagger" level="DEBUG" />
</configuration>